.tile-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(201, 226, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #000;
  cursor: nwse-resize;
}